<header *ngIf="mostrarMenu">
  <nav class="navbar is-primary">
    <div class="navbar-start">
      <div class="navbar-brand">
        <a class="navbar-item" routerLink="/">
          Rotas
        </a>
      </div>
    </div>
    <div class="navbar-end">
        <a routerLink="/login" routerLinkActive="is-active"  class="navbar-item" >Login</a>
        <a  routerLink="/cursos" routerLinkActive="is-active" [queryParams]="{pagina:1}" class="navbar-item" >Cursos</a>
        <a  routerLink="/alunos" routerLinkActive="is-active"  class="navbar-item" >Alunos</a>
      </div>
    </nav>
  </header>
  <section class="section">

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>
