<!-- <h3 class="title text-center">{{ title }}</h3>

<div class="content">
  <app-diretiva-ngif></app-diretiva-ngif>
</div> -->

<!-- <app-switch-case></app-switch-case> -->


<!-- <app-diretiva-ngfor></app-diretiva-ngfor> -->
<!--
<app-diretiva-style></app-diretiva-style> -->


<!-- <app-operador-elvis></app-operador-elvis> -->

<!--
<app-exemplo-ng-content>
    <div class="title">
      conteúdo krai
    </div>
    <div class="body">
      <app-operador-elvis></app-operador-elvis>
    </div>
</app-exemplo-ng-content>



<app-exemplo-ng-content>
  <div class="title">
    conteúdo ae
  </div>
  <div class="body">
    <app-operador-elvis></app-operador-elvis>
    <app-diretiva-ngfor></app-diretiva-ngfor>

  </div>
</app-exemplo-ng-content> -->

<app-diretivas-customizadas FundoAmarelo></app-diretivas-customizadas>
